@model Blog.Models.Comment

<h2>Speak your mind!</h2>

@using (Html.BeginForm("Create", "Comments")) {
    @Html.ValidationSummary(true)
    // Generate hidden controls for IDs
    @Html.HiddenFor(model => model.BlogPostID)
    @Html.HiddenFor(model => model.ParentID)

    <div class="editor-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Content)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content)
    </div>

    <p>
        <input type="submit" value="Share your thoughts!" />
    </p>
}